@using AntDesign;
@using MitPlanner.Model
@using MitPlanner.Services

@inject ActionTimelineService ActionTimelineService
@inject JobActionService JobActionService

@inject IJSRuntime JS

@if (model != null)
{
    <CascadingValue Value="@dragContext">
        <div class="header-container">
            <ActionSelector Actor="@selectedActor"
                Timeline="@model"
                TimelineItem="@selectedItem"
                ActionClick="HandleSelectorActionClick" />
            <TimetableHeader Actors="@model.Actors"
                SelectedActor="@selectedActor"
                ActorClick="HandleActorClick" />
        </div>
        <div>
            @foreach (var item in @model.Items)
            {
                <TimetableItem Model="@item"
                    IsSelected="@(item == selectedItem)"
                    Click="() => HandleItemClick(item)"
                    ActionDrop="a => HandleItemActionDrop(item, a)"
                    ActionClick="a => HandleItemActionClick(item, a) "/>
            }
        </div>
    </CascadingValue>
}
else
{
    <AntDesign.Text Type="danger">Unknown encounter</AntDesign.Text>
}

@code
{
    private readonly DragContext dragContext = new();

    private TimetableItemModel? selectedItem;

    private ActorModel? selectedActor;

    private TimetableModel? model;

    [Parameter]
    [EditorRequired]
    public string EncounterName { get; set; } = "";

    protected override void OnInitialized()
    {
        model = ActionTimelineService.GetEncounterTimeline(EncounterName);

        if (model != null)
        {
            selectedItem = model.Items.FirstOrDefault();
            selectedActor = model.Actors.FirstOrDefault();
        }
    }

    private void HandleItemClick(TimetableItemModel item)
    {
        selectedItem = item;
    }

    private async Task HandleItemActionClick(TimetableItemModel item, ActorAction action)
    {
        if (model == null)
            return;

        var added = await ActionTimelineService.RemoveAction(model, item.Timeline.Id, action.ActorId, action.Action);
        if (added)
        {
            StateHasChanged();
        }
    }

    private async Task HandleItemActionDrop(TimetableItemModel item, ActorAction action)
    {
        if (model == null)
            return;

        var removed = await ActionTimelineService.AddAction(model, item.Timeline.Id, action.ActorId, action.Action);
        if (removed)
        {
            StateHasChanged();
        }
    }

    private async Task HandleSelectorActionClick(ActorAction action)
    {
        if (selectedItem == null || model == null)
            return;

        var actions = selectedItem.GetActions(action.ActorId);
        if (actions == null)
            return;

        if (actions.Any(a => a.Name == action.Action.Name))
        {
            await ActionTimelineService.RemoveAction(model, selectedItem.Timeline.Id, action.ActorId, action.Action);
        }
        else
        {
            await ActionTimelineService.AddAction(model, selectedItem.Timeline.Id, action.ActorId, action.Action);
        }

        StateHasChanged();
    }

    private void HandleActorClick(ActorModel actor)
    {
        selectedActor = actor;
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            JS.InvokeVoidAsync("initTimelineItemDragEvents");
        }
    }
}

<style>

    .header-container {
        position: sticky;
        top: 0;
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: #f0f2f5; /* match AntLayout background */
        z-index: 100;
    }

</style>
